<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Bankowość Internetowa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Logo</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Klienci indywidualni</a></li>
              <li><a href="#">Bankowość prywatna</a></li>
              <li><a href="#">Biznes</a></li>
              <li><a href="#">Przedsiębiorstwa</a></li>
              <li><a href="#">O banku</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">
              	<select name="chooseLang">
                    <option value="en" style="background-image:url(image/en.png); width: 18px;"></option>
                    <option value="pl" style="background-image:url(image/pl.png); width: 18px;"></option>
              	</select>
              </a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="panel">
      	<nav class="navbar navbar-default">
        <div class="panel-body">
          <div class="navbar-header">
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <form class="form-inline" role="form" align="center">
              <div class="form-group">
                  <label for="login">Numer klienta lub login:</label>
                  <input type="text" class="form-control" id="login">
              </div>
              <div class="form-group">
                  <label for="pwd">Hasło:</label>
                  <input type="password" class="form-control" id="pwd">
              </div>
                  <button type="submit" class="btn btn-default">Zaloguj</button>
             </form>
          </div>
        </div>
      </nav>

        <h1 style="text-align: center;">iBankowość</h1>
        <hr />
        <p>
            <img src="image/be.png" style="float: right; margin: 20px; margin-right: 50px;" />
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            Nasz bank oferuje najwyższe usługi bankowe , przejrzysty i intuicyjny interfejs, oraz wszystkie
            możliwości płynące z korzystania z naszej bankowości internetowej. Ponadto jesteśmy bankiem który
            dba o swoich klientów i zawsze najszybciej oraz najsprawniej służy pomocą. Zapewniamy naszym 
            klientom profesjonalizm, bezpieczeństwo, niezawodność i anonimowość. Jesteśmy prężnie rozwijającym 
            się bankiem, który ceni wygode klienta ponad wszystko. 
        </p>
        <hr style="clear: both;" />
      </div>
    </div>
</body>
</html>