<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lokaty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/1.2.0/semantic.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" href="dist/css/formValidation.css" />

    <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/semantic-ui/1.2.0/semantic.min.js"></script>

    <script type="text/javascript" src="dist/js/formValidation.js"></script>
    <script type="text/javascript" src="dist/js/framework/semantic.js"></script>

    <style>
        p {
            padding-top: 10px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('form').formValidation({
                framework: 'semantic'
                , icon: {
                    valid: 'checkmark icon'
                    , invalid: 'remove icon'
                    , validating: 'refresh icon'
                    , feedback: 'fv-control-feedback'
                }
                , fields: {
                    kwota: {
                        validators: {
                            notEmpty: {
                                message: 'Kwota jest wymagana'
                            }
                            , greaterThan: {
                                value: 1
                                , message: 'Kwota nie może być zerem'
                            }
                        }
                    }
                }
            });
        });
    </script>
</head>

<body>
    <div class="container">

        <!--navigacja po zalogowaniu -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Konto</span>
                </div>
                <div class="collapse navbar-collapse " id="myNavbar2">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Profil</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Odbiorcy<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dodaj odbiorcę</a></li>
                                <li><a href="#">Lista odbiorców</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wiadomości<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Napisz wiadomość</a></li>
                                <li><a href="#">Sprawdź skrzynkę </a></li>
                            </ul>
                        </li>
                        <li><a href="#">Zlecenia stałe</a></li>
                        <li><a href="#">Kredyty</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a><span class="glyphicon glyphicon-ok-circle"></span> Numer klienta :</a>
                        </li>
                        <li>
                            <a href="index.html"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="row">
                <div class="col-sm-3">
                    <ul id="tabs" class="nav nav-pills nav-stacked well well-sm" data-tabs="tabs" style="margin-top:10px;">
                        <li><a href="#twojeLokaty" data-toggle="tab">Twoje lokaty</a></li>
                        <li><a href="#nowaLokata" data-toggle="tab">Nowa lokata</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div id="my-tab-content" class="tab-content">

                        <div id="nowaLokata" class="tab-pane">
                            <form class="navbar-form form-inline ui form" role="form">
                                <div class="row field">
                                    <div class="col-sm-12">
                                        <p>Z rachunku :</p>
                                        <div class="col-sm-6">
                                            <div class="ui input icon">
                                                <select class="form-control" name="wybor" data-fv-notempty="" data-fv-notempty-message="Musisz wybrać rachunek" data-fv-field="wybor">
                                                    <option value="wybierz" disabled="disabled" selected="selected">Wybierz rachunek</option>
                                                    <option value="Rachunek1">Rachunek 1</option>
                                                    <option value="Rachunek2">Rachunek 2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <p></p>
                                        <p>Waluta : PLN</p>
                                        <p>Okres trwania lokaty : 3 miesiące</p>
                                        <hr />
                                        <p>Otwierana lokata</p>
                                        <div class="table-responsive">
                                            <table class="table table-hover ">
                                                <thead>
                                                    <tr>
                                                        <small>
                                                        <th>Wybór</th>
                                                        <th>Nazwa lokaty</th>
                                                        <th>Rodzaj oprocentowania</th>
                                                        <th>Aktualne oprocentowanie</th>
                                                        <th>Min. kwota wpłaty</th>
                                                        <th>Automatyczne odnowienie</th>
                                                        <th>Dysponowanie odsetkami</th>
                                                        </small>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="ui radio">
                                                                <input name="lokata" type="radio" value="lokata3mies" checked="checked" />
                                                            </div>
                                                        </td>
                                                        <td>Lokata 3-miesięczna odnawialna</td>
                                                        <td>Stałe</td>
                                                        <td><a href="#">Szczegóły</a> </td>
                                                        <td>1 000,00 PLN </td>
                                                        <td>
                                                            <select class="form-control" name="odnowienie" data-fv-notempty="" data-fv-notempty-message="Musisz wybrać sposób odnowienia" data-fv-field="odnowienie">
                                                                <option value="Rachunek1">Tak</option>
                                                                <option value="Rachunek2">Nie</option>
                                                            </select>
                                                        </td>
                                                        <td>Przelew na rachunek</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="col-sm-3">
                                                <p>Kwota lokaty</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="ui input icon">
                                                    <input type="number" step="0.01" name="kwota">
                                                </div>

                                            </div>
                                            <div class="col-sm-2">
                                                <p>PLN</p>
                                            </div>

                                        </div>
                                        <br />
                                        <p></p>
                                        <div class="col-sm-8">
                                            <div class="col-sm-3">
                                                <p>Nazwa lokaty</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="ui input icon">
                                                    <input type="text" name="nazwaLokaty">
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <button type="submit" class="btn btn-primary">Dalej</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>