<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Bankowość Internetowa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/buttons.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body onload="strona()">

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Klienci indywidualni</a></li>
          <li><a href="#">Bankowość prywatna</a></li>
          <li><a href="#">Biznes</a></li>
          <li><a href="#">Przedsiębiorstwa</a></li>
          <li><a href="#">O banku</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
<nav class="navbar navbar-default">
	<div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
        	<li><a id="odbiorcy" href="#" onclick="odb()"></a></li>
        	<li><a id="wiad" href="#" onclick="wiad()"></a></li>
        	<li><a id="zlecenia" href="#" ></a></li>
        	<li><a id="oferty" href="#" ></a></li>
        	<li><a id="prof" href="#" ></a></li>
        	<li><button type="button" class="btn btn-warning navbar-btn">Wyloguj</button></li>
        </ul>
		<div id="rozsz" style="clear:both">
		</div>
    </div>
</nav>
	<div class="panel">
		<ul>
			<li><a href="#" id="wykonaj" onclick="wykonaj()">Wykonaj przelew</a></li>
			<li><a href="#" id="przeglad">Przegląd przelewów</a></li>
			<li><a href="#" id="zagraniczne">Przelewy zagraniczne</a></li>
			<li><a href="#" id="krajowe">Przelewy krajowe</a></li>
			<li><a href="#" id="instant">Przelewy natychmiastowe</a></li>
		</ul>
	</div>
	<div id="leftCont">
	</div>
	<div id="content">
	</div>
	<hr style="clear: both; border: 1px solid lightgrey;" />
</div>

</body>
</html>
