<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rejestracja</title>

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/1.2.0/semantic.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" href="dist/css/formValidation.css" />

    <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/semantic-ui/1.2.0/semantic.min.js"></script>

    <script type="text/javascript" src="dist/js/formValidation.js"></script>
    <script type="text/javascript" src="dist/js/framework/semantic.js"></script>

    <style type="text/css">
        body {
            padding: 30px 0;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {

            function randomNumber(min, max) {
                return Math.floor(Math.random() * (max - min + 1) + min);
            };
            $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

            $('#horizontalForm').formValidation({
                framework: 'semantic'
                , icon: {
                    valid: 'checkmark icon'
                    , invalid: 'remove icon'
                    , validating: 'refresh icon'
                    , feedback: 'fv-control-feedback'
                }
                , fields: {
                    firstName: {
                        validators: {
                            notEmpty: {
                                message: 'Imie jest wymagane'
                            }
                            , stringLength: {
                                min: 6
                                , max: 30
                                , message: 'Imie ma zawierać co najmniej 6 znaków , maksymalnie do 30'
                            }
                        }
                    }
                    , lastName: {
                         validators: {
                            notEmpty: {
                                message: 'Nazwisko jest wymagane'
                            }
                            , stringLength: {
                                min: 6
                                , max: 30
                                , message: 'Nazwisko ma zawierać co najmniej 6 znaków , maksymalnie do 30'
                            }
                        }
                    }
                    , email: {
                        validators: {
                            notEmpty: {
                                message: 'Podaj adres email'
                            }
                            , emailAddress: {
                                message: 'Niepoprawny adres email'
                            }
                        }
                    }
                    , password: {
                        validators: {
                            notEmpty: {
                                message: 'Hasło jest wymagane i nie może być puste'
                            }
                            , stringLength: {
                                min: 6
                                , max: 30
                                , message: 'Hasło ma zawierać co najmniej 6 znaków , maksymalnie do 30'
                            }
                        }
                    }
                    , confirmPassword: {
                        validators: {
                            notEmpty: {
                                message: 'Hasło jest wymagane i nie może być puste'
                            }
                            , identical: {
                                field: 'password'
                                , message: 'Hasła muszą sie zgadzać'
                            }
                            , stringLength: {
                                min: 6
                                , max: 30
                                , message: 'Hasło ma zawierać co najmniej 6 znaków , maksymalnie do 30'
                            }
                        }
                    }
                    , gender: {
                        validators: {
                            notEmpty: {
                                message: 'Zaznaczenie płeci jest wymagane'
                            }
                        }
                    }
                    , captcha: {
                        validators: {
                            callback: {
                                message: 'Zła capcha'
                                , callback: function (value, validator) {
                                    var items = $('#captchaOperation').html().split(' ')
                                        , sum = parseInt(items[0]) + parseInt(items[2]);
                                    return value == sum;
                                }
                            }
                        }
                    },
                    age: {
                        validators: {
                            notEmpty: {
                                message: 'Wpisz swoj wiek'
                            }
                            , greaterThan: {
                                value: 18
                                , message: 'Wiek ma byc wiekszy od 18'
                            }
                            , lessThan: {
                                value: 100
                                , message: 'Wiek ma byc mniejszy od 100'

                            }
                        }
                    }
                    , agree: {
                        validators: {
                            notEmpty: {
                                message: 'Musisz zgodzić się z regulaminem'
                            }
                        }
                    }
                    , pesel: {
                        validators: {
                            notEmpty: {
                                message: 'Podaj swój pesel'
                            }
                            , stringLength: {
                                min: 11
                                , max: 11
                                , message: 'Pesel ma zawierać dokładnie 11 cyfr'
                            }

                        }
                    }

                }
            });

            $('.ui.checkbox').checkbox();
        });
    </script>
</head>

<body>
    <div class="ui grid" style="margin: 5px 0;">
        <div class="four wide column"></div>

        <div class="eight wide column">
            <h2 class="ui dividing header">Formularz rejestracji <a href="glowna.html" style="margin-left: 260px;">Strona główna</a></h2>
            

            <form id="horizontalForm" class="ui grid form">
                
                <div class="row field">
                    <label class="four wide column">Imie i Nazwisko</label>
                    <div class="six wide column">
                        <div class="ui input icon">
                            <input name="firstName" type="text" placeholder="Imie" />
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="ui input icon">
                            <input name="lastName" type="text" placeholder="Nazwisko" />
                        </div>
                    </div>
                </div>

                <div class="row field">
                    <label class="four wide column">Pesel</label>
                    <div class="eight wide column">
                        <div class="ui input icon">
                            <input name="pesel" type="number" placeholder="Pesel" />
                        </div>
                    </div>
                </div>

                <div class="row field">
                    <label class="four wide column">Adres email</label>
                    <div class="eight wide column">
                        <div class="ui input icon">
                            <input name="email" type="text" placeholder="Adres email" />
                        </div>
                    </div>
                </div>

                <div class="row field">
                    <label class="four wide column">Hasło</label>
                    <div class="eight wide column">
                        <div class="ui input icon">
                            <input name="password" type="password" placeholder="Hasło" />
                        </div>
                    </div>
                </div>

                <div class="row field">
                    <label class="four wide column">Potwierdź hasło</label>
                    <div class="eight wide column">
                        <div class="ui input icon">
                            <input name="confirmPassword" type="password" placeholder="Ponownie hasło" />
                        </div>
                    </div>
                </div>

                <div class="row field">
                    <label class="four wide column">Wiek</label>
                    <div class="eight wide column">
                        <div class="ui input icon">
                            <input type="number" name="age" />
                        </div>
                    </div>
                </div>

                <div class="row field">
                    <label class="four wide column">Płeć</label>
                    <div class="ten wide column">
                        <div class="ui radio">
                            <input name="gender" type="radio" value="male" />
                            <label>Mężczyzna</label>
                        </div>
                        <div class="ui radio">
                            <input name="gender" type="radio" value="female" />
                            <label>Kobieta</label>
                        </div>
                    </div>
                </div>

                <div class="row field">
                    <label class="four wide column">
                        <span class="right" id="captchaOperation"></span>
                    </label>
                    <div class="four wide column">
                        <div class="ui input icon">
                            <input type="text" name="captcha" placeholder="Capcha" />
                        </div>
                    </div>
                </div>

                <div class="row field">
                    <label class="four wide column"></label>
                    <div class="ten wide column">
                        <div class="ui checkbox">
                            <input name="agree" type="checkbox" />
                            <label>Zgadzam się z regulaminem</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="four wide column"></label>
                    <div class="eight wide column">
                        <button type="submit" class="ui primary button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
            <hr />
            <div class="container">
                <div class="pull-left">SBI 2016 (<small>Dominik Paluch</small>) </div>
                <div class="pull-right"><a href="#" style="text-decoration: none;">dpaluch92@gmail.com</a></div>
            </div>
            <br />
        </footer>
    
</body>

</html>