<!DOCTYPE html>
<html lang="pl">

<head>
    <title>temp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
        p {
            color: #777;
            margin-top: 10px;
        }
        
        input {
            width: 175px;
        }
        
        input[type="submit"] {
            width: 50px;
        }
        
        textarea {
            resize: none;
            width: 175px;
            height: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <!--navigacja po zalogowaniu -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Konto</span>
                </div>
                <div class="collapse navbar-collapse " id="myNavbar2">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Profil</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Odbiorcy<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dodaj odbiorcę</a></li>
                                <li><a href="#">Lista odbiorców</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wiadomości<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Napisz wiadomość</a></li>
                                <li><a href="#">Sprawdź skrzynkę </a></li>
                            </ul>
                        </li>
                        <li><a href="#">Zlecenia stałe</a></li>
                        <li><a href="#">Kredyty</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a><span class="glyphicon glyphicon-ok-circle"></span> Numer klienta :</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="row">
                <div class="col-sm-3">
                    <ul id="tabs" class="nav nav-pills nav-stacked well well-sm" data-tabs="tabs" style="margin-top:10px;">
                        <li><a href="#krajowe" data-toggle="tab">Przelewy krajowe</a></li>
                        <li><a href="#zagraniczne" data-toggle="tab">Przelewy zagraniczne</a></li>
                        <li><a href="#natychmiastowe" data-toggle="tab">Przelewy natychmiastowe</a></li>
                        <li><a href="#przeglad" data-toggle="tab">Przegląd przelewów</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div id="my-tab-content" class="tab-content">

                        <div id="krajowe" class="tab-pane">
                            <form class="navbar-form form-inline" role="form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>Z rachunku :</p>
                                        <select style="width: 175px;">
                                            <option value="wybierz" disabled="disabled" selected="selected">Wybierz rachunek</option>
                                            <option value="Rachunek1">Rachunek 1</option>
                                            <option value="Rachunek2">Rachunek 2</option>
                                        </select>
                                        <p>Kwota :</p>
                                        <input type="number" step="0.01">
                                        <p>Data przelewu: </p>
                                        <input type="date">
                                    </div>
                                    <div class="col-sm-6">
                                        <p>Nazwa odbiorcy: </p>
                                        <input type="text">
                                        <p>Numer rachunku: </p>
                                        <input type="text">
                                        <p>Adres odbiorcy: </p>
                                        <input type="text">
                                        <p>Tytuł przelewu: </p>
                                        <textarea></textarea>
                                        <p></p>
                                        <input type="submit" value="Dalej">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="zagraniczne" class="tab-pane">
                            <form class="navbar-form form-inline" role="form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>Z rachunku :</p>
                                        <select style="width: 175px;">
                                            <option value="wybierz" disabled="disabled" selected="selected">Wybierz rachunek</option>
                                            <option value="Rachunek1">Rachunek 1</option>
                                            <option value="Rachunek2">Rachunek 2</option>
                                        </select>
                                        <p>Kwota :</p>
                                        <input type="number" step="0.01">
                                        <p>Waluta :</p>
                                        <select style="width: 175px;">
                                            <option value="wybierz walute" disabled="disabled" selected="selected">Wybierz rachunek</option>
                                            <option value="Rachunek1">USD</option>
                                            <option value="Rachunek2">CHF</option>
                                            <option value="Rachunek2">EUR</option>
                                            <option value="Rachunek2">GBP</option>
                                        </select>
                                        <p>Data przelewu: </p>
                                        <input type="date">
                                    </div>
                                    <div class="col-sm-6">
                                        <p>Kod banku odbiorcy : </p>
                                        <input type="text">
                                        <p>Nazwa odbiorcy: </p>
                                        <input type="text">
                                        <p>Numer rachunku: </p>
                                        <input type="text">
                                        <p>Adres odbiorcy: </p>
                                        <input type="text">
                                        <p>Tytuł przelewu: </p>
                                        <textarea></textarea>
                                        <p></p>
                                        <input type="submit" value="Dalej">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="natychmiastowe" class="tab-pane">
                            <form class="navbar-form form-inline" role="form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>Z rachunku :</p>
                                        <select style="width: 175px;">
                                            <option value="wybierz" disabled="disabled" selected="selected">Wybierz rachunek</option>
                                            <option value="Rachunek1">Rachunek 1</option>
                                            <option value="Rachunek2">Rachunek 2</option>
                                        </select>
                                        <p>Kwota :</p>
                                        <input type="number" step="0.01">
                                        <p>Data przelewu: </p>
                                        <input type="date">
                                    </div>
                                    <div class="col-sm-6">
                                        <p>Nazwa odbiorcy: </p>
                                        <input type="text">
                                        <p>Numer rachunku: </p>
                                        <input type="text">
                                        <p>Adres odbiorcy: </p>
                                        <input type="text">
                                        <p></p>
                                        <input type="submit" value="Dalej">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="przeglad" class="tab-pane">
                            <p>Wyświetl wyniki :</p>
                            <ul id="wyniki" class="nav nav-tabs" data-tabs="tabs">
                                <li><a href="#20" data-toggle="tab">20</a></li>
                                <li><a href="#50" data-toggle="tab">50</a></li>
                                <li><a href="#100" data-toggle="tab">100</a></li>
                                <li><a href="#all" data-toggle="tab">Wszystkie</a></li>
                            </ul>

                            <div id="tab-content-wyniki" class="tab-content">
                                <div class="tab-pane" id="20">
                                    <p>20</p>
                                </div>
                                <div class="tab-pane" id="50">
                                    <p>50</p>
                                </div>
                                <div class="tab-pane" id="100">
                                    <p>100</p>
                                </div>
                                <div class="tab-pane" id="all">
                                    <p>all</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>